<div class="d-grid gap-2">
  <a href="<%= data.variationsUrl %>" class="btn btn-sm btn-outline-info">
    <i class="bi bi-layers"></i> Varijacije
  </a>
  <a href="<%= data.seoUrl %>" class="btn btn-sm btn-outline-info">
    <i class="bi bi-search"></i> SEO podešavanja
  </a>
</div>