<div class="d-grid gap-2">
  <a href="<%= data.contentUrl %>" class="btn btn-sm btn-outline-info">
    <i class="bi bi-pencil"></i> Upravljanje sadržajem
  </a>
  <a href="<%= data.seoUrl %>" class="btn btn-sm btn-outline-info">
    <i class="bi bi-search"></i> SEO podešavanja
  </a>
</div>