<%
const subject = `Lozinka je uspešno promenjena - ${SITE_NAME}`;
const body = `
  <p>Zdravo ${firstName},</p>
  <p>Vaša lozinka na ${SITE_NAME} je uspešno promenjena.</p>
  <p>Ako niste vi izvršili ovu promenu, odmah nas kontaktirajte na <a href="mailto:${SUPPORT_EMAIL}">${SUPPORT_EMAIL}</a>.</p>
  <p style="margin-top:25px; color:#999; font-size:14px;">Ovo je automatska poruka, molimo ne odgovarajte na nju.</p>
`;
%>
<%- include("_layout", { subject, body }) %>